* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.header {
  background-color: #f7f7f7;
}

.btn-primary {
  color: #147975 !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #f7f7f7 !important;
  background-color: #147975 !important;
}

button {
  text-align: start;
}

#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  color: #f7f7f7 !important;
  background-color: #147975 !important;
  border: none;
}

h7 {
  text-align: start;
}

li .btn-primary {
  width: 20vw;
}

li a {
  color: #147975 !important;
}

li a:hover,
li a:focus,
li a:active,
li a.active,
.open > .dropdown-toggle.btn-primary {
  color: #f7f7f7 !important;
  background-color: #147975 !important;
}
.dropdown-toggle {
  display: flex !important;
  align-items: center !important;
}
/*img{
  height: 60vh;
  width: 60vw;
  margin-top: 20px;
  margin-bottom: 20px;
}*/

iframe {
  margin-bottom: 20px;
  margin-top: 20px;
}
img{
  margin-top: 20px;;
}
