* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.header {
  background-color: #f7f7f7;
}

.btn-primary {
  color: #147975 !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #f7f7f7 !important;
  background-color: #147975 !important;
}

button h6{
  text-align: start;
}
h7{
  text-align: start;
<<<<<<< Updated upstream
=======
}
img{
  width: 50vw;
  height: 50vh;
>>>>>>> Stashed changes
}