* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

.header {
  background-color: #d07171;
}

.btn-primary {
  color: #af6161 !important;
  
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #000000 !important;
  background-color: #d07171 !important;
}
